html{
    font-family: 'Times New Roman', Verdana, sans-serif;
    background-color: rgba(0,0,0,0.05);
}

h1{
    font-size: 50px;
    text-align: center;
    border: #25aa11 3px solid;
    padding: 10px;
    margin: 10px;
}

div button{
    margin: 5px;
    padding: 5px;
    border: rgb(0,0,0), solid, 2px;
    cursor: pointer;
    background-color: rgb(255,255,255);
    color: black;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover{
    background-color: yellow;
}

button:active{
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}